# Set optimal IO schedulers for HDD and SSD

SUBSYSTEM!="block", GOTO="scheduler_end"
ACTION!="add", KERNEL!="dm-*", GOTO="scheduler_end"
ACTION!="change", KERNEL=="dm-*", GOTO="scheduler_end"
# "none" with no brackets means scheduler isn't configurable
ATTR{queue/scheduler}=="none", GOTO="scheduler_end"
# keep our hands off zoned devices, the kernel auto-configures them
ATTR{queue/zoned}!="none", GOTO="scheduler_end"

# BFQ scheduler for HDD
ATTR{queue/rotational}!="0", ATTR{queue/scheduler}="bfq"

# mq-deadline is the default anyway
# ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="mq-deadline"

LABEL="scheduler_end"

